body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8F9FD;
}
#div-container{
    border: 2px;
    margin: auto;
    margin-top: 4%;
    width: 500px;
    background-color: #2155CD;
    text-align-last: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-style: solid;
    border-color: black;
}

#div-input{
    padding-top: .5%;
    padding-bottom: .5%;
}

.class-input{
    border: 2px;
    background-color: #E8F9FD;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 2% 0 2% 0;
    margin: 0 5% 3% 5%;
}

h1{
    font-size: 250%;
    color: #E8F9FD;
}
h3{
    color: #E8F9FD;
}

.boton{
    border: 2px;
    background-color: #0AA1DD;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 1% 16% 1% 16%;
    margin: 10% 5% 10% 5%;
    color: #E8F9FD;
    font-size: 150%;
}
.boton:hover{
    background-color: #79DAE8;
    cursor: pointer;
}